<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hola Mundo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="mt-5 ml-5">
	        <h2>Lista de paginas</h2>
	        <div class="list-group">
	            <a href="/resultados?type=primos&start=1&end=50" class="list-group-item list-group-item-action">Ver Numeros Primos</a>
	            <a href="/resultados?type=tabla&table=5" class="list-group-item list-group-item-action">Ver Tabla de Multiplicar</a>
	        </div>
	    </div>
</body>
</html>
